@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  * {
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--theme-bg);
    color: var(--color-text);
    font-family: '"Quicksand", "ui-rounded", "Hiragino Sans GB", "Microsoft YaHei", sans-serif';
  }
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --breakpoint-xs: 480px;
}
