@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--theme-bg);
    color: var(--color-text);
    font-family: '"Quicksand", "ui-rounded", "Hiragino Sans GB", "Microsoft YaHei", sans-serif';
  }
}

:root {

  --duration-fast: 300ms;

  /* text colors */
  --color-text: #18181b;
  --theme-bg: #ffffff;
  --nav-bg: #f4f4f5;
  --theme-border: #e4e4e7;
}

html.dark {
  /* text colors */
  --color-text: #f4f4f5;
  --theme-bg: #09090b;
  --nav-bg: #18181b;
  --theme-border: #27272a;
}

@variant dark (&:where(.dark, .dark *));
