:root {
  --layout-padding-x: 0rem;

  @media (min-width: 640px) {
    --layout-padding-x: 2rem;
  }

  @media (min-width: 768px) {
    --layout-padding-x: 10svh;
  }

  @media (min-width: 1024px) {
    --layout-padding-x: 20svh;
  }

  @media (min-width: 1280px) {
    --layout-padding-x: 25svh;
  }

  @media (min-width: 1536px) {
    --layout-padding-x: 30svh;
  }
}
